 .fade-shrink {
 	position: absolute;
 	padding-left: 8px;
 }

 .fade-shrink-enter {
 	opacity: 0;
 	transform: scale(1.1);
 }

 .fade-shrink-enter-active {
 	opacity: 1;
 	transform: scale(1);
 	transition: opacity 300ms, transform 300ms;
 }

 .fade-shrink-exit {
 	opacity: 1;
 	transform: scale(1);
 }

 .fade-shrink-exit-active {
 	opacity: 0;
 	transform: scale(0.9);
 	transition: opacity 300ms, transform 300ms;
 }


 .slide {
 	position: absolute;
 	padding-left: 8px;
 }

 .slide-enter {
 	opacity: 0;
 	transform: translateX(100%);
 }

 .slide-enter-active {
 	opacity: 1;
 	transform: translateX(-100%);
 	transition: opacity 300ms, transform 300ms;
 }

 .slide-exit {
 	opacity: 1;
 	transform: scale(1);
 }

 .slide-exit-active {
 	opacity: 0;
 	transform: translate(0);
 	transition: opacity 300ms, transform 300ms;
 }


 .spin {
 	position: absolute;
 	padding-left: 8px;
 }

 .spin-enter {
 	transform: scale(0.1);
 }

 .spin-enter-active {
 	opacity: 1;
 	transform: rotate(359deg) scale(1);
 	transition: transform 300ms;
 }

 .spin-exit {
 	opacity: 1;
 	transform: rotate(-180deg);
 }

 .spin-exit-active {
 	opacity: 0;
 	transform: scale(0.1);
 	transition: opacity 300ms, transform 300ms;
 }

 .shrink {
 	position: absolute;
 	padding-left: 8px;
 }

 .shrink-enter {
 	transform: scale(1.1);
 }

 .shrink-enter-active {
 	transform: scale(1);
 	transition: transform 300ms;
 }

 .shrink-exit {
 	transform: scale(0.1);
 	transition: transform 300ms;
 }

 .shrink-exit-active {
 	transform: scale(0);
 	transition: transform 300ms;
 }